{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <strong>Succes!</strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>     
    {% endfor %}
    
        <h1>Agregar Curso</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.creditos.label(class="form-label") }}
            {{ form.creditos(class="form-control") }}
            <br/>
            {{ form.submit() }}
        </form>

        <br/>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Creditos</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for our_user in our_users %}
              <tr>
                <th scope="row">{{ our_user.codigo }}</th>
                <td>{{ our_user.nombre }}</td>
                <td>{{ our_user.creditos}}</td>
                <td>
                    <a class="btn btn-primary" href="{{url_for('update_curso', codigo=our_user.codigo)}}">Update</a>
                    <a class="btn btn-danger" href="{{url_for('delete_curso', codigo=our_user.codigo)}}">Delete</a>
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table> 
{% endblock %}