{% extends 'base.html' %}

{% block content %}

    {% if name %}    
    
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <strong>Succes!</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
    {% endfor %}

        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Duracion</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for our_user in our_users %}
            <tr>
              <th scope="row">{{ our_user.codigo }}</th>
              <td>{{ our_user.nombre }}</td>
              <td>{{ our_user.duracion}}</td>
              <td>
                  <a class="btn btn-primary" href="{{url_for('update_escuela', codigo=our_user.codigo)}}">Update</a>
                  <a class="btn btn-danger" href="{{url_for('delete_escuela', codigo=our_user.codigo)}}">Delete</a>
                  <br>
              </td>
            </tr>
          {% endfor %}
          </tbody>
      </table>         
    {% else %}
        <h1>Actualizar datos de {{escuela.nombre}}</h1>
        <br/>
        <form action="/escuela/update/{{escuela.codigo}}" method="POST">
            {{ form.hidden_tag() }}
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" value="{{escuela.nombre}}" required>
            <br>
            <label for="exampleFormControlTextarea1" class="form-label">Duracion</label>
            <input type="text" class="form-control" name="duracion" value="{{escuela.duracion}}" required>
            <br/>
            {{ form.submit() }}
        </form>
    {% endif %}
{% endblock %}